<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="QQDbContext1"
         connectionString="Data Source=.\MSSQL;Initial Catalog=testQQ;Integrated Security=SSPI;"
         providerName ="System.Data.SqlClient"
         />
    <add name="QQDbContext"
         connectionString="Data Source =Test.sdf; Persist Security Info =False;"
         providerName ="System.Data.SqlServerCe.4.0"
         />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
